In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('mk8_df.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703560 entries, 0 to 703559
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   perso   703560 non-null  object
 1   kart    703560 non-null  object
 2   wheels  703560 non-null  object
 3   glider  703560 non-null  object
 4   WG      703560 non-null  float64
 5   AC      703560 non-null  float64
 6   ON      703560 non-null  float64
 7   OF      703560 non-null  float64
 8   MT      703560 non-null  float64
 9   SL      703560 non-null  float64
 10  SW      703560 non-null  float64
 11  SA      703560 non-null  float64
 12  SG      703560 non-null  float64
 13  TL      703560 non-null  float64
 14  TW      703560 non-null  float64
 15  TA      703560 non-null  float64
 16  TG      703560 non-null  float64
 17  IV      703560 non-null  float64
dtypes: float64(14), object(4)
memory usage: 96.6+ MB

In [5]:
df.describe()

,WG,AC,ON,OF,MT,SL,SW,SA,SG,TL,TW,TA,TG,IV
count,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000,703560.000000
mean,3.305528,3.353794,3.530410,3.325988,3.946985,3.724099,3.597713,3.691301,3.695828,3.535466,3.360318,3.408230,3.498068,3.783529
std,0.921570,0.787137,0.820711,0.833162,0.595267,0.813498,0.791722,0.798225,0.795141,0.805708,0.795597,0.778644,0.789711,0.716861
min,0.750000,1.000000,1.250000,0.750000,2.250000,1.000000,1.250000,1.000000,1.250000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.500000,2.750000,3.000000,2.750000,3.500000,3.250000,3.000000,3.000000,3.000000,3.000000,2.750000,2.750000,3.000000,3.250000
50%,3.250000,3.250000,3.500000,3.250000,4.000000,3.750000,3.750000,3.750000,3.750000,3.500000,3.250000,3.500000,3.500000,3.750000
75%,4.000000,4.000000,4.000000,4.000000,4.250000,4.250000,4.250000,4.250000,4.250000,4.000000,4.000000,4.000000,4.000000,4.250000
max,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000,5.750000

In [10]:
combi = ['Yoshi Ysi 1', 'Sport Bike', 'Azure Roller', 'Paper Glider']

In [23]:
df1 = df[df['perso'] == 'Yoshi Ysi 1']
df2 = df1[df1['kart'] == 'Yoshi Bike']
df3 = df2[df2['wheels'] == 'Azure Roller']
df4 = df3[df3['glider'] == 'Paper Glider'] 
df4

,perso,kart,wheels,glider,WG,AC,ON,OF,MT,SL,SW,SA,SG,TL,TW,TA,TG,IV
61588,Yoshi Ysi 1,Yoshi Bike,Azure Roller,Paper Glider,2.25,4.75,2.75,3.5,5.25,2.75,3.75,3.25,4.25,4.25,3.5,4.0,4.5,1.5

In [15]:
df.kart.value_counts()

Standard Kart                 17160
Jet Bike                      17160
Standard ATV Standard Quad    17160
Wild Wiggler                  17160
Teddy Buggy                   17160
GLA                           17160
W 25 Silver Arrow             17160
300 SL Roadster               17160
Blue Falcon                   17160
Tanooki Kart                  17160
B Dasher                      17160
Master Cycle                  17160
Streetle                      17160
P-Wing                        17160
City Tripper                  17160
Bone Rattler                  17160
Koopa Clown                   17160
Splat Buggy                   17160
Inkstriker                    17160
Yoshi Bike                    17160
Mr. Scooty Mr Scooty          17160
Pipe Frame                    17160
Varmint                       17160
Mach 8                        17160
Steel Driver                  17160
Cat Cruiser                   17160
Circuit Special               17160
Tri-Speeder                   17160
Badwagon                      17160
Prancer                       17160
Biddybuggy Buggybud           17160
Landship                      17160
Sneeker Bounder               17160
Sports Coupe Sports Coup√©     17160
Gold Standard Gold Kart       17160
Standard Bike                 17160
Comet                         17160
Sport Bike                    17160
The Duke                      17160
Flame Rider                   17160
Master Cycle Zero             17160
Name: kart, dtype: int64